body {
    color: var(--textColor);
    background-color: var(--bgPrimary);
    padding-right: var(--scrollbarComp);
    overflow-x: hidden;
		transition: background 1.5s ease;
}

body.color-red {
	background-color: var(--bgRed);
}

body.color-tan {
	background-color: var(--bgTan);
	color: #222;
}
