:root {
    --textColor: #fff;
    --primaryColor: #B0442F;
    --focusColor: #B0442F;
    --bgRed: #B0442F;
		--bgTan: #d5d0b1;
    --bgPrimary: #58777E;
}

// // Very basic support for a dark color scheme
// @media (prefers-color-scheme: dark) {
//     :root {
//         --color-mode: 'dark';
//     }

//     :root:not([data-user-color-scheme]) {
//         --backgroundColor: #1A1A1A;
//         --textColor: #eeeeee;
//         --primaryColor: #A15CFF;
//     }
// }
