/* inter - variable */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300 800;
	src: local(''), url('/assets/fonts/inter.woff2') format('woff2'),
		url('/assets/fonts/inter.ttf') format('ttf');
	font-display: swap;
}

body {
	font-family: Inter, sans-serif;
}
