---
layout: base
---

<div class="container">
	<h1>The Project Resource Studio website is being updated. Please stay tuned for future announcements. </h1>
	<div class="body">
		<p>We believe in identifying possibilities.</p>
		<p>Since 2014, PRS has collaborated with clients across Colorado on some of the most complex strategic communications, outreach, and project management assignments.</p>
		<p>Our team designs strategies connecting the community to projects through thoughtful engagement channels that deliver a successful outcome. PRS provides meaningful partnerships for clients, projects, programs, and services to reflect
			the mission and culture of each initiative.</p>
		<p>PRS will evolve in a more nuanced direction in 2023; our website will be paused in the interim. </p>
		<p>Please connect directly with Kathleen Wanatowicz at 970-618-5114 or <a href="mailto:kathleen@prstudico.com">kathleen@prstudico.com</a> for more information. </p>
	</div>
</div>
